.game-card {
  width: 100%;
  background-color: var(--green-dark);
  box-shadow: 0 0 4px 4px var(--dark-green-light);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--sm-size);
  border-radius: var(--sm-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  & .players {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: var(--sm-size);
    color: var(--dark-green-dark);
    & .player-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    & .buttons-container {
      display: flex;
      & .icon-btn {
        width: 50px;
        height: 50px;
        margin: var(--xs-size);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        color: var(--green-dark);
      }
      & .minus {
        background-color: var(--red-main);
        box-shadow: 0 0 4px 2px var(--red-dark);
      }
      & .plus {
        background-color: var(--dark-green-main);
        box-shadow: 0 0 4px 2px var(--dark-green-dark);
      }
    }
    & .winning {
      color: var(--dark-green-dark);
    }
    & .losing {
      color: var(--red-main);
    }
  }
  & .submit {
    margin-top: var(--xl-size);
    margin-bottom: var(--md-size);
    & button {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 20px;
      background-color: var(--green-light);
      animation: glowing 2s infinite;
    }
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 4px 2px var(--green-light);
  }
  30% {
    box-shadow: 0 0 10px 4px var(--green-light);
  }
  100% {
    box-shadow: 0 0 4px 2px var(--green-light);
  }
}
